<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Войдите в свой кабинет или создайте его сейчас</h1>
<form th:action="@{/doLogin}" th:object="${user}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" placeholder="Your email.." required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" placeholder="Your password.." required>
    <div th:if="${error}" class="error" th:text="${error}"></div>
    <input type="submit" value="Войти">
    <a th:href="@{/register}">Зарегистрироваться</a>
</form>
</form>
</body>
</html>