<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<style>


</style>
<div class="form-container">
    <h1>Вход в систему</h1>
    <form th:object="${user}" th:action="@{/processing_login}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" placeholder="Введите email" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Введите пароль" required>
        </div>
        <div th:if="${error}" class="error" th:text="${error}"></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Войти</button>
            <a th:href="@{/register}" class="btn btn-link">Зарегистрироваться</a>
        </div>
    </form>
</div>
</body>
</html>