<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register_form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<style>

</style>
<body>
<h1>Регистрация</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" placeholder="Your name.." required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" placeholder="Your email.." required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" placeholder="Your password.." required>

    <label> </label>
    <input type="submit" value="Register">

</form>
</body>
</html>